<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Please select a options: </h2>
<ul>
  <li>
    <h2><a routerLink="server">Server</a></h2>
  </li>
  <li>
    <h2><a routerLink="client">client</a></h2>
  </li>
  <li>
  	<input type="text" [(ngModel)]="txt">
  	<input type="button" value="Send Message" (click)="sendMessage(txt)">
  </li>
</ul>

<!--<app-server></app-server>
<app-client></app-client>-->

